.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.profile{
    border-radius: 100%;
}
.flag{
    width: 30%;
    border-radius: 25%;
}
.tbl{
    text-align: center;
    align-content: center;
}